/keys/web/*
!/keys/web/.gitkeep
/keys/worker/*
!/keys/worker/.gitkeep
/keys/vault/*
!/keys/vault/.gitkeep
/nexus-data/**
!/nexus-data/.gitkeep
/postgresql-data/**
!/postgresql-data/.gitkeep

/.added_env
/.env
